Roasty1Bass RCDATA R1B148.raw
Roasty2Bass RCDATA R2B144.raw
Roasty1Treble RCDATA R1T55.raw
Roasty2Treble RCDATA R2T49.raw
Steamin1Bass RCDATA S1B147.raw
Steamin2Bass RCDATA S2B146.raw
Steamin1Treble RCDATA S1T55.raw
Steamin2Treble RCDATA S2T50.raw
