CCPMakeUp PNG "..\..\..\Resources\Knobs\DynCharCurvePlotMakeUp.png"
CCPRatio PNG "..\..\..\Resources\Knobs\DynCharCurvePlotRatio.png"
CCPThreshold PNG "..\..\..\Resources\Knobs\DynCharCurvePlotThreshold.png"
