CHL F16 ConcertHallLeft.F16
CHR F16 ConcertHallRight.F16
GCL F16 GatedChamberLeft.F16
GCR F16 GatedChamberRight.F16
GPL F16 GatedPlateLeft.F16
GPR F16 GatedPlateRight.F16
GNL F16 GymnasiumLeft.F16
GNR F16 GymnasiumRight.F16
LHL F16 LongHallLeft.F16
LHR F16 LongHallRight.F16
RCL F16 RichChamberLeft.F16
RCR F16 RichChamberRight.F16
RPL F16 RichPlateLeft.F16
RPR F16 RichPlateRight.F16
SPL F16 SmallPlateLeft.F16
SPR F16 SmallPlateRight.F16
SRL F16 SmallRoomLeft.F16
SRR F16 SmallRoomRight.F16
TRL F16 TiledRoomLeft.F16
TRR F16 TiledRoomRight.F16
